.idea/gbrowser_project.xml
.idea/modules.xml
.idea/my-portfolio.iml
.idea/rcb-settings.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
my-portfolio/src/dev/palette.jsx
my-portfolio/src/dev/previews.jsx
my-portfolio/src/dev/useInitial.js
my-portfolio/src/dev/README.md
my-portfolio/src/dev/index.js
